#sidenav {
  height: 101vh;
  width: 5vw;
  left: 0;
  background: white;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  z-index: 5;
  margin: 1px;
  position: fixed;
}
#topnav {
  margin:0;
  width: 100%;
  display: none;
}
#hamburger {
  width: 100% !important;
  height: 110% !important;
  margin-top: -10% !important;
  background: white !important;
  z-index: 1101 !important;
  position: fixed !important;
}
.mobile-menu-wrap div {
  height:5vh;
  position:relative;
  margin-left:50vw;
}
#hamburger a {
  text-align: center;
  margin: 0 auto;
  height: 10px;
  width: 150px;
  margin-top: 50px;
  font-size: 20px;
}
#siteLinks,
#resourceLinks {
  display: flex;
  flex-direction: column;
}
#siteLinksTop,
#resourceLinksTop {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}

#siteLinks a,
#resourceLinks a {
  height: 6vh;
  margin: 5px auto;
  color: black;
  font-size: 3vh;
}
#siteLinks a:hover,
#resourceLinks a:hover {
  transition: 0.3s;
  color: #2a6da6;
}
#siteLinks {
  margin-top: 20vh;
}
#resourceLinks {
  margin-top: 12.5vh;
}

#logo {
  height: 12vh;
  width: 100%;
  color: black;
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 35px;
}
@media only screen and (min-width: 1025px) and (orientation: portrait) {
  #sidenav {
    width: 8vw;
  }
  #logo {
    font-size: 2vh;
    margin-left: 5px;
  }
  #siteLinks a,
  #resourceLinks a {
    height: 6vh;
    margin: 5px auto;
    color: black;
    font-size: 2vh;
  }
}
@media only screen and (max-width: 1025px) {
  #sidenav {
    width: 9vw;
  }
  #logo {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  #hamburger.bm-menu-wrap {
    margin-top: -7% !important;
  }
}

@media only screen and (max-width: 813px)  {
  #sidenav {
    display: none;
  }
  #topnav {
    display: initial;
    height: 5vh;
    background: white;
    position: absolute;
    z-index: 1000;
  }
  #logo {
    position: fixed;
    width: auto;
    height: auto;
    line-height: 140%;
    margin-left: 10px;
    position: static;
    z-index: 2000;
  }
  #hamburger {
    margin-top: -10% !important;
  }
  .bm-burger-bars {
    width: 40px;
  }
  .bm-burger-button {
    position:fixed;
    height: 4vh;
    width:10vw;
    position: fixed;
    right:0;
    top:0;
  }
  .bm-burger-button button {
    height:100%;
    width:100%;
    margin:0!important;
  }
  .bm-burger-bars {
    height: 5px!important;
    margin:5px;
    background: #141518;
    border-radius: 15%;
  }
  .bm-cross-button button {
    background-image: url(./images/close.svg) !important;
  }
}
@media only screen and (max-width: 813px) and (orientation: landscape) {
  #topnav {
    height: 13vh;
  }
  .bm-burger-button {
    height: 10vh;
    width:10vw;
    margin-top:3px;
  }
  #logo{
    line-height:110%;
  }
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
  #topnav {
    height: 8vh;
  }
  .bm-burger-button {
    height: 6.5vh;
    width:20vw;
    margin-top:3px;
  }
  #hamburger.bm-menu-wrap {
    margin-top: -14% !important;
  }
}
