#sidenav {
    height:100vh;
    width: 5vw;
    left:0;
    background-color:white;
    display:flex;
    flex-direction:column;
    border-right:2px solid black;
    z-index:5;
    margin:1px;
    position:fixed;
}
#topnav{
    height:80px;
    width:100%;
    background-color:gray;
    display:none;
}
#hamburger{
    width:100% !important;
    background:lightgray !important;
}
.bm-burger-button button {
    height:50px !important;
    width:100px;
    background:white !important;
    border-bottom:2px solid black !important;
}
.bm-cross-button button {
    background-image:url(./images/close.svg) !important;
}
#hamburger a {
    text-align:center;
    margin: 0 auto;
    height:10px;
    margin-top:50px;
}
#siteLinks, #resourceLinks {
    display:flex;
    flex-direction:column;
}
#siteLinksTop, #resourceLinksTop {
    display:flex;
    flex-direction:column;
}
a{
    text-decoration: none;
}

#siteLinks a, #resourceLinks a {
    height:6vh;
    margin: 5px auto;
    color:black;
    font-size:25px;
}
#siteLinks a:hover, #resourceLinks a:hover{
    transition: 0.3s;
    color:darkred;
  }
#siteLinks{
    margin-top:20vh;
}
#resourceLinks{
    margin-top:12.5vh;
}

#logo{
    height:12vh;
    width:5vw;
    color:black;
    font-family: 'Kaushan Script', cursive;
    text-align:center;
    font-size:35px;
}

@media only screen and (max-width: 800px) {
    #sidenav {
        display:none;
    }
    #topnav{
        display:initial;
    }
    #logo{
        position:Fixed;
        width:auto;
        height:auto;
        line-height:110%;
        z-index:1101;
        margin-left:10px;
    }
}