#sidenav {
    height:100vh;
    width: 7.5vw;
    left:0;
    background-color:white;
    display:flex;
    flex-direction:column;
    border-right:2px solid black;
    z-index:5;
    margin:1px;
    position:fixed;
}
#siteLinks, #resourceLinks {
    display:flex;
    flex-direction:column;
}
a{
    text-decoration: none;
}

#siteLinks a, #resourceLinks a {
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    height:6vh;
    margin: 5px auto;
    color:black;
    font-size:25px;
}
#siteLinks a:hover, #resourceLinks a:hover{
    transition: 0.3s;
    color:darkred;
  }
#siteLinks{
    margin-top:20vh;
}
#resourceLinks{
    margin-top:12.5vh;
}

#logo{
    height:12vh;
    width:7.5vw;
    color:black;
    font-family: 'Kaushan Script', cursive;
    text-align:center;
    font-size:50px;
}