#pHeader{
    text-align:Center;
    margin:0;
    padding-top:15vh;
    font-size: 50px;
}

.slick-slider{
    transform:rotate(0deg);
}

.slick-list{
    width:80vw;
    margin:auto;
    margin-top:15vh
}

.slick-list .slick-track div {
    height:50vh;
    background:lightgray;
}

.slick-arrow{
    display:none !important;
}