.slick-list {
  width: 95vw;
  margin: auto;
  margin-left: 5vw;
  cursor: grab;
}

.slick-list:active {
  cursor: grabbing;
}

.slick-list .slick-track div {
  height: 99vh;
}

.project-name {
  text-align: center;
  font-size: 2.5vh;
  height: 5vh;
  color: #e5e5ee;
}

.code-link,
.demo-link,
.code-linkNA,
.demo-linkNA {
  margin: auto;
  background: #2a6da6;
  color: white;
  margin-bottom: 20px;
  border-radius: 5%;
  padding: 5px;
  width: 40%;
  text-align: center;
  font-size: 2vh;
  opacity: 0.8;
}

.code-link:hover,
.demo-link:hover {
  transition: 0.35s;
  opacity: 1;
}

#link-container {
  width: 100%;
  height: auto;
  display: flex;
}
#project {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  width: 99%;
  background: #141518;
}

.description,
.technology-used {
  width: 90%;
  height: 20vh;
  margin: auto;
  box-sizing: border-box;
  font-size: 2.5vh;
  color: #e5e5ee;
}

.slick-slide img {
  width: 99%;
  height: 35vh;
  margin: auto;
  margin-top: 75px;
}
button.slick-arrow.slick-next,
button.slick-arrow.slick-prev,
button.slick-arrow :active,
button.slick-arrow :hover,
button.slick-arrow.after,
button.slick-arrow::before {
  position: absolute;
  z-index: 200;
  cursor: pointer;
  width: 50px !important;
  height: 100px;
  opacity: 0.4;
}
.slick-arrow.slick-next::before,
.slick-arrow.slick-prev::before {
  display: none !important;
}

button.slick-arrow.slick-prev {
  background: url(./back.svg) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  margin-left: 8vw;
}
button.slick-arrow.slick-next {
  background: url(./next.svg) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  margin-right: 50px;
}
button.slick-arrow.slick-prev:hover,
button.slick-arrow.slick-next:hover {
  opacity: 1;
}
@media only screen and (min-width: 2570px) {
  .code-link,
  .demo-link,
  .code-linkNA,
  .demo-linkNA {
    font-size: 35px;
  }
  #logo {
    font-size: 70px;
  }
  .description,
  .technology-used {
    font-size: 35px;
  }
}
@media only screen and (min-width: 3800px) {
  .code-link,
  .demo-link,
  .code-linkNA,
  .demo-linkNA {
    font-size: 50px;
  }
  #logo {
    font-size: 70px;
  }
  .description,
  .technology-used {
    font-size: 50px;
  }
}
@media only screen and (min-width: 1080px) and (orientation: portrait) {
  #logo {
    font-size: 4vw;
  }

  .slick-list {
    margin-left: 8vw;
    margin-top: 10vh;
  }
  .project-name {
    font-size: 2vh;
  }
  .description,
  .technology-used {
    font-size: 30px;
    height: 50vh;
  }
  .code-link,
  .demo-link,
  .code-linkNA,
  .demo-linkNA {
    font-size: 30px;
  }
  .slick-slide img {
    height: 10vh;
    margin: auto;
    margin-bottom: 5vh;
  }
  .slick-list .slick-track div {
    height: 70vh;
  }
  button.slick-arrow.slick-prev {
    margin-left: 11vw;
    margin-top: 500px;
  }
  button.slick-arrow.slick-next {
    margin-right: 0;
    margin-top: 500px;
  }
}
@media only screen and (min-width: 1400px) and (orientation: portrait) {
  .description,
  .technology-used {
    font-size: 32.5px;
  }
  .code-link,
  .demo-link,
  .code-linkNA,
  .demo-linkNA {
    font-size: 32.5px;
  }
}
@media only screen and (min-width: 2100px) and (orientation: portrait) {
  .description,
  .technology-used {
    font-size: 50px;
  }
  .code-link,
  .demo-link,
  .code-linkNA,
  .demo-linkNA {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1030px) {
  .slick-slide img {
    margin-top: 0;
    margin-bottom: 5vh;
    height: 20vh;
  }
  .slick-list .slick-track div {
    height: 100vh;
  }
  .slick-list {
    width: 90vw;
    height: 100vh;
    margin: 0;
    margin-left: 9.5vw;
  }
  .project-name {
    font-size: 30px;
    height: 100px;
  }
  .description,
  .technology-used {
    font-size: 30px;
    height: 50vh;
  }
  button.slick-arrow.slick-prev {
    margin-left: 12.5vw;
    width: 100%;
  }
}
@media only screen and (max-width: 1340px) and (orientation: landscape) {
  #project,
  .slick-list {
    height: 100vh;
  }
  .slick-list {
    margin-right: 0;
  }
  .description,
  .technology-used {
    font-size: 20px;
  }
  .slick-slide img {
    height: 30vh;
  }
}

@media only screen and (max-width: 815px) {
  .description,
  .technology-used {
    font-size: 25px;
    padding-top: 25px;
  }
  .slick-list .slick-track div {
    height: 95vh;
    margin-top: 1vh;
  }
  .slick-list {
    margin-top: 3vh;
    width: 100vw;
    margin-left: 0;
  }
  button.slick-arrow.slick-prev {
    margin-left: 50px;
    width: 100%;
  }
  .slick-slide img {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 815px) and (orientation: landscape) {
  .project-name {
    font-size: 3vw;
    height: 10px;
  }
  .slick-list {
    margin-top: 10vh;
    width: 100vw;
    margin-left: 0;
  }
  .slick-slide img {
    height: 15vh;
    width: 40%;
    margin: auto;
  }
  .slick-slide img {
    display: none;
  }
  .description,
  .technology-used {
    font-size: 15px;
    padding-top: 5px;
  }
  .code-link,
  .demo-link,
  .demo-linkNA,
  .code-linkNA {
    font-size: 3.5vh;
    margin-bottom: 5px;
    z-index: 10;
  }
  .slick-list .slick-track div {
    height: 100vh;
  }
  button.slick-arrow.slick-prev,
  button.slick-arrow.slick-next {
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .project-name {
    padding-top:10px;
    font-size: 3vh;
  }
  body {
    overflow: auto;
  }
  .description,
  .technology-used {
    font-size: 2.5vh;
    height: 35vh;
  }
  .code-link,
  .demo-link,
  .demo-linkNA,
  .code-linkNA {
    font-size: 3vh;
    z-index: 10;
  }
  .slick-slide img {
    min-height: 25vh;
  }
}
