.slick-slider{
    transform:rotate(0deg);
}

.slick-list{
    width:80vw;
    margin:auto;
    margin-top:15vh
}

.slick-list .slick-track div {
    height:50vh;
    background:lightgray;
}

.slick-arrow{
    display:none !important;
}

.project-name{
    text-align: center;
}

.code-link, .demo-link{
    margin:auto;
    border:solid black;
    background:white;
    margin-bottom:20px;
    border-radius: 5%;
    padding:2px;
}

.code-linkNA, .demo-linkNA{
    margin:auto;
    border:solid black;
    background:white;
    margin-bottom:20px;
    border-radius: 5%;
    padding:2px;
}

.code-link:hover, .demo-link:hover{
    transition: 0.35s;
    border-color: royalblue;
}

#link-container{
    width:100%;
    height:auto;
    display:flex;
}
#project {
    display:flex;
    flex-direction: column;
}

.project-description{
    height:15vh;
}

.project-image {
    width:90%;
    height:25vh;
    margin:auto;
}

@media only screen and (max-width: 1025px) {
    .project-image{
        width:100%;
        height:auto;
    }
    .slick-list .slick-track div {
        height:40vh;
    }
    .slick-list{
        width:85vw;
        margin:auto;
        margin-top:15vh
    }
    .project-name{
        font-size:20px;
    }
}

@media only screen and (max-width: 800px) {
    .description{
        font-size:15px;
        padding-top:25px;
    }
    .project-image{
        width:100%;
    }
    .slick-list .slick-track div {
        height:55vh;
    }
    .slick-list{
        width:80vw;
        margin:auto;
        margin-top:5vh
    }
}