.intro-container {
  border:1px solid white;
  width:50vw;
  height:500px;
  margin:auto;
  margin-top:30vh;
  border-radius:5px;
}

.intro-header {
  color:white;
  text-align: center;
}

.introp {
  color:white;
  font-size:1.2vw;
  margin:auto;
  width:95%;
}