#fs-frm {
  margin-top:4vh;
  display: flex;
  flex-direction: column;
}
.contactLabels {
  display: block;
  width: 100%;
  height: 5vh;
  font-size: 3.2vh;
  line-height: 100%;
  text-align: center;
  margin-bottom: 3vh;
  text-decoration: underline;
}
#full-name,
#email-address,
#message {
  display: block;
  width: 80%;
  height: 10%;
  margin: auto;
  margin-bottom: 3vh;
  line-height: 100%;
  font-size: 3vh;
  outline: none;
  border: none;
  border: solid 2px black;
  border-radius:5px;
  background:white;
}
#full-name:focus,
#email-address:focus,
#message:focus {
  transition: 0.35s;
  border-color: royalblue;
}
#message {
  height: 15vh;
  resize: none;
  border: solid 2px black;
}
#submitBtn:hover {
  transition:0.35s;
  background:royalblue;
}
#submitBtn {
  background:white;
  display: block;
  width: 25%;
  margin: auto;
  height: 5vh;
  margin-top: 5vh;
  font-size: 3vh;
  cursor: pointer;
  outline: none;
  border: solid black;
  border-radius: 4px;
}

@media only screen and (max-width: 813px) and (orientation: landscape) {
  #fs-frm {
    margin-top:13vh;
  }
  .contactLabels {
    font-size: 15px;
  }
  #full-name,
  #email-address,
  #message,
  #submitBtn {
    font-size: 15px;
  }
  #submitBtn {
    height: 30px;
    margin-top: 10px;
  }
}
